<!DOCTYPE html>
<html>
  <head>
    <title>Sted</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <a href="#home">Home</a>
      <div class="dropdown">
        <button class="dropbtn">Account</button>
        <div class="dropdown-content">
          <a href="#">Edit Profile</a>
          <a href="#">Settings</a>
          <a href="#">Logout</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">The Serpent Teaching Timeline</button>
        <div class="dropdown-content">
          <a href="#">Garden of Eden</a>
          <a href="#">Atlantis and Nephilim</a>
          <a href="#">The Great Flood</a>
          <a href="#">Tower of Babel</a>
          <a href="#">Mystery School</a>
          <a href="#">Egyptian Empire and Pagansm</a>
          <a href="#">Knights Templar</a>
          <a href="#">Jesuits</a>
          <a href="#">Cosimo de Medici</a>
          <a href="#">Freemason</a>
          <a href="#">Bavarian Illuminati</a>
          <a href="#">Illuminati</a>
          <a href="#">Global Elite</a>
        </div>
      </div> 
      <div class="dropdown">
        <button class="dropbtn">Lies</button>
        <div class="dropdown-content">
          <a href="#">NASA</a>
          <a href="#">Holywood</a>
          <a href="#">Globe Earth</a>
        </div>
      </div>
      <br>
      <div class="top1">
        <a href="#" class="btn btn-sm animated-button victoria-one"><h1>Make The Lie Big</h1><h1>Make it Simple</h1><h2>Keep Saying it</h2><h2>And They Will Eventually Believe it</h2><h3><i>~Adolf Hitler~</i></h3></a>
      </div>
      <!-- <div class="top2">
        <a href="#" class="btn btn-sm animated-button victoria-one"><h2>Make it Simple</h2></a>
      </div>
      <div class="top3">
        <a href="#" class="btn btn-sm animated-button victoria-one"><h4>Keep Saying it</h4></a>
      </div>
    
      <h5><a href="#" class="btn btn-sm animated-button victoria-one">And They Will Eventually Believe it</a></h5>>
      <h6><i></i><a href="#" class="btn btn-sm animated-button victoria-one">~Adolf Hitler~</a></h6> -->
      <footer>Copyright Stedy @2017</footer> 
    </div>
  </body>
</html>
